{{#partial "content"}}
    <section class="landing-pg">
        <div class="land-left"></div>
        <div class="land-right"></div>
        <form class="form" action="/new/Departments" method="post">
            <h1>Create Your Department</h1>
            <input type="text" placeholder="Enter Department name" name="name" required><br><br>
            <input type="text" placeholder="Enter Department description" name="description" required><br><br>
            <input type="text" placeholder="Enter number of employees" name="employees" required><br><br>
            <input class="btns" type="submit">
        </form>
    </section>
{{/partial}}
{{> layout.hbs}}

