{{#partial "content"}}

    <div class="welcome">

        <h1 style="text-align:center;">Welcome to  News Portal</h1>

        <div class="button">

        </div>

    </div>


{{/partial}}

{{>layout.hbs}}